# This script includes:
1. Importing Libraries
2. Defining Path
3. IMPORTING “orders_products_combined.pkl
4. Checking shape of imported file
5. Merging "orders_products_combined" with cleaned products data set
6. Confirming results using the merge flag
7. Exporting the merged file using pickle format

# 1. Importing Libraries

In [2]:
# Import Libraries
import pandas as pd
import numpy as np
import os

# 2. Defining Path

In [4]:
path= r'/Users/navneetjha/Desktop/Career foundry Docs/exercises/Data Immersion /Achievement 4/INSTACART BASKET ANALYSIS JULY14-2024'

In [6]:
path

'/Users/navneetjha/Desktop/Career foundry Docs/exercises/Data Immersion /Achievement 4/INSTACART BASKET ANALYSIS JULY14-2024'

# 3. IMPORTING “orders_products_combined.pkl

In [10]:
df_orders_products_combined=pd.read_pickle(os.path.join(path, '02 DATA', 'PREPARED DATA','orders_products_combined.pkl'))

In [24]:
df_orders_products_combined.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,0,2539329,1,prior,1,2,8,NaN,196,1,0,both
1,0,0,2539329,1,prior,1,2,8,NaN,14084,2,0,both
2,0,0,2539329,1,prior,1,2,8,NaN,12427,3,0,both
3,0,0,2539329,1,prior,1,2,8,NaN,26088,4,0,both
4,0,0,2539329,1,prior,1,2,8,NaN,26405,5,0,both

# 4. Checking shape of imported file

In [16]:
df_orders_products_combined.shape

(32434489, 13)

# 5. Merging "orders_products_combined" with cleaned products data set.

In [20]:
#Importing Cleaned Product data set
df_prods=pd.read_csv(os.path.join(path, '02 DATA', 'PREPARED DATA','products_checked.csv'), index_col = False)

In [22]:
df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [30]:
# Merging "df_prods" and "df_orders_products_combined".
df_merged_large=df_prods.merge(df_orders_products_combined, on = 'product_id', indicator = False)

In [32]:
df_merged_large

,Unnamed: 0_x,product_id,product_name,aisle_id,department_id,prices,Unnamed: 0.1,Unnamed: 0_y,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,1987,1987,3139998,138,prior,28,6,11,3.0,5,0,both
1,0,1,Chocolate Sandwich Cookies,61,19,5.8,1989,1989,1977647,138,prior,30,6,17,20.0,1,1,both
2,0,1,Chocolate Sandwich Cookies,61,19,5.8,11433,11433,389851,709,prior,2,0,21,6.0,20,0,both
3,0,1,Chocolate Sandwich Cookies,61,19,5.8,12198,12198,652770,764,prior,1,3,13,NaN,10,0,both
4,0,1,Chocolate Sandwich Cookies,61,19,5.8,12200,12200,1813452,764,prior,3,4,17,9.0,11,1,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32434207,49692,49688,Fresh Foaming Cleanser,73,11,13.5,3321928,3321928,1788356,200215,prior,2,0,9,5.0,27,0,both
32434208,49692,49688,Fresh Foaming Cleanser,73,11,13.5,3324686,3324686,3401313,200377,prior,1,4,11,NaN,5,0,both
32434209,49692,49688,Fresh Foaming Cleanser,73,11,13.5,3332310,3332310,809510,200873,prior,5,3,8,15.0,12,0,both
32434210,49692,49688,Fresh Foaming Cleanser,73,11,13.5,3332314,3332314,2359893,200873,prior,9,3,15,5.0,11,1,both
32434211,49692,49688,Fresh Foaming Cleanser,73,11,13.5,3416620,3416620,2385091,205926,prior,11,1,15,6.0,35,0,both

# 6. Confirming results using the merge flag

In [36]:
# Question 6. Confirming results using the merge flag
df_merged_large['_merge'].value_counts()

_merge
both          32434212
left_only            0
right_only           0
Name: count, dtype: int64

# 7. Exporting the merged file using pickle format

In [38]:
# Question 7 Exporting the merged file using pickle format
df_merged_large.to_pickle(os.path.join(path, '02 DATA', 'PREPARED DATA','ords_prods_merge. pkl'))